{% extends 'base.html.twig' %}

{% block title %}
  List
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row new-board">
      <div class="col">
        <a class="btn btn-primary" href="{{ path('board_new') }}">New Board</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <th scope="row">{{ board.id }}</th>
              <td> {{ board.name }} </td>
              <td> {{ board.description }} </td>
              <td>
                <a href="{{ path('board_update', {'id': board.id }) }}" class="btn btn-xs btn-primary">Update</a>
                <a href="{{ path('board_delete', {'id': board.id }) }}" class="btn btn-xs btn-danger">Delete</a>
              </td>
            </tr>
          {% else %}
              <tr>
                <td colspan="3">No records</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% endblock %}
